.ProseMirror {
  /* Placeholder Styles */
  .is-empty::before {
    @apply text-black/40 dark:text-white/40 float-left h-0 pointer-events-none w-full;
  }

  &.ProseMirror-focused {
    /* Slashmenu Placeholder */
    > p.has-focus.is-empty::before {
      content: 'Aperte  /  (barra) para mostrar opções de formatação';
    }

    > [data-type='columns'] > [data-type='column'] > p.is-empty.has-focus::before {
      content: 'Aperte  /  (barra) para mostrar opções de formatação';
    }
  }

  /* Default Placeholder */
  & > .is-editor-empty::before {
    content: 'Clique e comece a escrever :)';
  }

  /* Blockquote Placeholder */
  blockquote .is-empty:not(.is-editor-empty):first-child:last-child::before {
    content: 'Digite a citação';
  }

  blockquote + figcaption.is-empty:not(.is-editor-empty)::before {
    content: 'Autor';
  }

  [data-placeholder][data-suggestion]::before,
  [data-placeholder][data-suggestion] *::before {
    content: none !important;
  }
}
